@import "tailwindcss";

@theme {
	/* Fonts */
	--font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  
	/* Emph Colors */
	--color-emph-lighter: #ADC6FF;
	--color-emph-light: #3B82F6;
	--color-emph: #2563EB;
	--color-emph-dark: #005BC1;
  
	/* Obscure Colors */
	--color-obscure-lightest: #2a2a2a;
	--color-obscure-lighter: #0d0e0d;
	--color-obscure-light: #131313;
	--color-obscure: #09090b; 
	--color-obscure-dark: #020202;
	--color-obscure-darker: #000000;
  
	/* Clarity Colors */
	--color-clarity-lighter: #ffffff;
	--color-clarity-light: #A1A1AA;
	--color-clarity: #71717A; 
	--color-clarity-dark: #52525B;
	--color-clarity-darker: #3F3F46;
  }